/* -------GENERAL------- */
.App {
  text-align: center;
}

/* --------DISPLAY-------- */
.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* --------DISPLAY-------- */
.calc-display {
  background-color: pink;
  min-height: 50px;
  width: 70%;
  margin: 10px auto;
  text-align: center;
}

/* ---------KEYPAD-------- */
.calc-keypad {
  width: 70%;
  display: grid;
  margin: auto;
  grid-template-columns: [first] auto [line2] auto [line3] auto [line4] auto;
  grid-row: [row1] 20% [row2] auto [row3] auto [row4] auto [row5] auto; 
}

.calc-keypad button {
  width: 90%;

}