/* -------GENERAL------- */
.App {
  text-align: center;
}

/* --------DISPLAY-------- */
.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* --------DISPLAY-------- */
.calc-display {
  background-color: pink;
  min-height: 50px;
  width: 25rem;
  margin: 10px auto;
  text-align: center;
}

/* ---------KEYPAD-------- */
.calc-keypad {
  width: 26rem;
  display: grid;
  margin: auto;
  grid-template-columns: [first] auto [line2] auto [line3] auto [line4] auto;
  grid-row: [row1] 20% [row2] auto [row3] auto [row4] auto; 
  gap: 10px;
}

.calc-keypad button {
  width: 5rem;
  height: 3rem;
  margin: auto;
  font-size: 1.5rem;
}

.row-5 {
  width: 26rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: [first] 15rem [line2] 15rem; */
  /* grid-row: auto; */
  /* flex-grow: 2; */
}

.r5 {
  width: 12rem;
  height: 3rem;
}

.br {
  border-radius: 10px;
}